Repository dilla-io/engine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

.gitlab-ci.yml:

image: dillaio/docker

variables:
  VERSION: 1.0.0

cache: &cache_rust
  paths:
    # https://doc.rust-lang.org/cargo/guide/cargo-home.html#caching-the-cargo-home-in-ci
    # - .cargo/
    - .cargo/.crates.toml
    - .cargo/.crates2.json
    - .cargo/bin/
    - .cargo/registry/index/
    - .cargo/registry/cache/
    - .cargo/git/db/
    - target/

stages:
  - test
  - doc

test:
  stage: test
  cache: *cache_rust
  script:
    - rm -f crates/dilla-renderer/src/build/ds.rs && cp crates/dilla-renderer/src/build/test.rs crates/dilla-renderer/src/build/ds.rs
    - RUST_BACKTRACE=0 DS=test cargo test --package dilla-renderer --test tests_core --no-fail-fast -- --exact --nocapture
    - RUST_BACKTRACE=0 DS=test cargo test --doc -p dilla-renderer --no-fail-fast -- --exact --nocapture
  # only:
    # - merge_requests
  only:
    changes:
      - crates/dilla-renderer/*

coverage:
  stage: test
  cache: *cache_rust
  script:
    - cd crates/dilla-renderer && cargo tarpaulin --out Xml
  artifacts:
    when: always
    reports:
      coverage_report:
        coverage_format: cobertura
        path: cobertura.xml
  coverage: '/\d+\.\d+% coverage, /'
  only:
    - tags
  except:
    - branches

.lint:
  stage: test
  cache: *cache_rust
  script:
    - cargo fmt -- --check
    # - cargo clippy --workspace --all-targets --all --fix --allow-dirty -- -D warnings -W clippy::all
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - crates/dilla-renderer/*
        - crates/dilla-describer/*

.audit:
  stage: test
  cache: *cache_rust
  before_script:
    - cargo binstall audit
  script:
    - cargo audit
  only:
    - tags
  except:
    - branches
  allow_failure: true

pages:
  stage: doc
  script:
    - rm -f crates/dilla-renderer/src/build/ds.rs && cp crates/dilla-renderer/src/build/test.rs crates/dilla-renderer/src/build/ds.rs
    - RUSTC_BOOTSTRAP=1 RUSTDOCFLAGS="--cfg=docsrs --html-in-header doc-header.html --enable-index-page -Z unstable-options" cargo doc --no-deps --document-private-items
    - cd $CI_PROJECT_DIR && mkdir -p public
    - cd $CI_PROJECT_DIR && cp -r target/doc* public/
  artifacts:
    paths:
      - public
  only:
    changes:
      - crates/dilla-renderer/*
      - crates/dilla-describer/*
  when: manual

fix(core): simplify some code
  crates/dilla-renderer/src/lib.rs
  crates/dilla-renderer/src/renderer.rs
Due: none

tests(): update codegen tests, split tests core and ds
  crates/dilla-cli/src/main.rs
  crates/dilla-renderer/.env.dist
  crates/dilla-renderer/build.rs
  crates/dilla-renderer/tests/component/other.html
  crates/dilla-renderer/tests/component/test_variant.html
  crates/dilla-renderer/tests/component_bubbable/component_library.html
  crates/dilla-renderer/tests/component_bubbable/component_variables.html
  crates/dilla-renderer/tests/element/element.html
  crates/dilla-renderer/tests/element/element_local_variables_scoped.html
  crates/dilla-renderer/tests/element/element_nested.html
  crates/dilla-renderer/tests/element/element_styles.html
  crates/dilla-renderer/tests/element/element_styles_with_class.html
  crates/dilla-renderer/tests/element/element_theme_scoped.html
  crates/dilla-renderer/tests/element_bubbable/element_attached.html
  crates/dilla-renderer/tests/element_bubbable/element_library.html
  crates/dilla-renderer/tests/element_bubbable/element_variables.html
  crates/dilla-renderer/tests/output/payload_full.html
  crates/dilla-renderer/tests/output/payload_test.html
  crates/dilla-renderer/tests/output/payload_test_full.html
  crates/dilla-renderer/tests/tests_core.rs
  crates/dilla-renderer/tests/variables/variables.html
  justfile
  scripts/test.sh
Due: test, pages

fix(build): update build code to use minijinja_embed
  crates/dilla-renderer/Cargo.toml
  crates/dilla-renderer/build.rs
  crates/dilla-renderer/src/engine.rs
  crates/dilla-renderer/src/renderable.rs
  crates/dilla-renderer/tests/component/error.html
Due: test, pages

tests(scripts): copy result of tests in origin ds
  scripts/test.sh
Due: none

style(core): cleanup, fixes, enable coverage
  .gitlab-ci.yml
  crates/dilla-describer/build.rs
  crates/dilla-describer/src/lib.rs
  crates/dilla-renderer/build.rs
  crates/dilla-renderer/src/attribute.rs
  crates/dilla-renderer/src/engine.rs
  crates/dilla-renderer/src/lib.rs
  crates/dilla-renderer/src/renderable.rs
  crates/dilla-renderer/tests/utils/mod.rs
Due: test, pages

fix(ci): missing ds.rs for coverage [skip ci]
  .gitlab-ci.yml
Due: none

tests(): add internal tests, fix coverage commands
  .gitignore
  .gitlab-ci.yml
  crates/dilla-renderer/Cargo.toml
  crates/dilla-renderer/src/attribute.rs
  crates/dilla-renderer/src/engine.rs
  crates/dilla-renderer/src/renderable.rs
  crates/dilla-renderer/src/renderer.rs
  crates/dilla-renderer/src/timing.rs
  crates/dilla-renderer/tests/attribute/attribute.html
  crates/dilla-renderer/tests/components/test_attribute.jinja
  crates/dilla-renderer/tests/output/payload_result.json
  crates/dilla-renderer/tests/output/payload_result_obj.json
  crates/dilla-renderer/tests/output/payload_result_string.json
  crates/dilla-renderer/tests/tests_core.rs
  crates/dilla-renderer/tests/tests_integrations.rs
  crates/dilla-renderer/tests/utils/mod.rs
  justfile
  scripts/test.sh
Due: test, pages

fix(minijinja): deprecated from_serializable(), add some tests for renderable
  crates/dilla-renderer/src/attribute.rs
  crates/dilla-renderer/src/engine.rs
  crates/dilla-renderer/src/renderable.rs
Due: none

style(): fix styling issues automatically
  crates/dilla-renderer/build.rs
  crates/dilla-renderer/src/attribute.rs
  crates/dilla-renderer/src/renderable.rs
  crates/dilla-renderer/src/renderer.rs
  crates/dilla-renderer/tests/utils/mod.rs
Due: test, pages

tests(): add describer tests and bump version
  crates/dilla-describer/Cargo.toml
  crates/dilla-describer/build.rs
  crates/dilla-describer/src/lib.rs
  crates/dilla-describer/tests/test/definitions.json
Due: pages

feat(xtask): add xtask and better code coverage
  .gitignore
  .gitlab-ci.yml
  Cargo.toml
  crates/dilla-describer/build.rs
  crates/dilla-describer/src/lib.rs
  crates/dilla-describer/tests/test/definitions.json
  crates/dilla-renderer/src/main.rs
  crates/dilla-renderer/src/timing.rs
  justfile
  xtask/Cargo.toml
  xtask/src/main.rs
Due: pages

fix(ci): fix coverage job with llvm [skip ci]
  .gitlab-ci.yml
Due: none

fix(): ci test, coverage and doc
  .gitlab-ci.yml
  justfile
Due: none

fix(core): remove dotenv
  crates/dilla-describer/.env.dist
  crates/dilla-describer/Cargo.toml
  crates/dilla-describer/build.rs
  crates/dilla-renderer/.env.dist
  crates/dilla-renderer/Cargo.toml
  crates/dilla-renderer/build.rs
Due: test, pages

fix(ci): doc generator for pages
  .gitlab-ci.yml
  justfile
Due: none

feat(perf): add benches with criterion
  Cargo.toml
  crates/dilla-renderer/Cargo.toml
  crates/dilla-renderer/benches/bootstrap_5.json
  crates/dilla-renderer/benches/bootstrap_5.rs
  crates/dilla-renderer/benches/test.json
  crates/dilla-renderer/benches/test.rs
Due: test, pages

fix(scripts): split bench commands
  justfile
Due: none

fix(): code optimization
  crates/dilla-renderer/src/renderable.rs
Due: none

chore(): add lmg
  .env.default
Due: none

fix(script): silent eval
  scripts/build-co.sh
Due: none

fix(): style and minor updates
  Cargo.toml
  crates/dilla-describer/src/lib.rs
  crates/dilla-renderer/src/renderable.rs
  crates/wasm-component/Cargo.toml
  crates/wasm-extism/Cargo.toml
Due: none
